body {
  overflow: hidden;
}

.home {
  background: linear-gradient(-20deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 400% 400%;
  min-height: 100vh;
  color: white;
  font-size: calc(4vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home__logo {
  height: 40vmin;
  margin: 1.25rem;
  pointer-events: none;
}

.home__link {
  cursor: pointer;
  border-radius: 9999px;
}
