.home {
  background: linear-gradient(-20deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 400% 400%;
  min-height: 100vh;
  color: white;
  font-size: calc(4vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: gradient 60s ease infinite;
}

.home__logo {
  height: 40vmin;
  margin: 1.25rem;
  pointer-events: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: spin infinite 20s linear;
  }
}

.home__link {
  cursor: pointer;
  border-radius: 9999px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
